* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  /* text-align: center; */
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table th {
  background: #f0f6ff;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  padding-bottom: 13px;
  padding-top: 14px;
  padding-left: 24px;
}

.table th span {
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  padding-bottom: 13px;
  padding-top: 14px;
  padding-left: 24px;
  color: #0063e6;
}

.table tbody tr td {
  padding-bottom: 13px;
  padding-top: 14px;
  padding-left: 24px;
}

.table tbody tr:hover {
  background: #f0f6ff;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: #fff;
}

.table tbody tr:nth-child(2n) td {
  background: #f7f7f7;
}
